h1{text-align: center; color: purple;}
#upload{position: absolute; width: 50%; height: 15%; left: 25%; top: 20%; border: 1px dashed black; text-align: center;}
#result{position: absolute; width: 50%; height: 25%; left: 25%; top: 40%; border: 1px dashed black; text-align: center;}